@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'sans-serif';
    background: linear-gradient(45deg, #bdc3c75b 50%, #2c3e5033 50%);
}

.center{
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn{
    box-shadow: none !important;
    background: #6b46c1 !important;
    border-radius: 5px !important;
}
.btn:hover{
    box-shadow: 0px 8px 6px #c7c7c7 !important;
}
.card{
    padding: 10% 20%;
    border-radius: 20px !important;
    box-shadow: 0px 10px 16px #6b46c134 !important
}